button {
    cursor: pointer;
}
.appContainer {
    max-width: 500px;
    border: 2px solid rgb(85, 85, 198);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    
    margin: 2rem auto;
    padding: 2em;
}


/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__btn--open {
    padding: 1rem;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
}

.header__btn--close {
    padding: 1rem;
    background-color: rgb(120, 31, 6);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
}

/* Task Form */
.taskForm {
    margin: .4em;
}

.taskForm__inputSet>* {
    display: block;
}

.taskForm>* {
    margin-block: 1em;
}

.taskForm label{
    font-size: x-large;
    margin-bottom: .2em;
}

.taskForm__inputSet input,
.taskForm__submit {
    width: 100%;
    min-height: 3em;
}

.taskForm__submit {
    border: none;
    background-color: black;
    color: white;
    padding: 1.2em;
    border-radius: 5px;
}

/* Tasks */
.tasks {
    margin: .4em;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    background-color: antiquewhite;
    padding: 1em;
    margin-block: 1em;
    border-radius: 0 10px 0 10px;
}

.task::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.task__reminder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 98%;
    background-color: green;
    border-radius: 0 0 0 10px;
}

.task__time {
    font-style: italic;
}

.task__delete {
    background: none;
    border: none;
    font-size: 2rem;
    color: red;
    font-weight: 900;
    z-index: 1;
}

/* Footer */
.footer {
    align-self: center;
    text-align: center;
}

.footer__about {
    font-weight: bold;
    background: none;
    border: none;
    font-style: italic;
    letter-spacing: 1px;
    font-size: .9em;
}

.footer__text {
    font-weight: 100;
}

.footer__link{
    text-decoration: none;
    text-shadow: 1px 1px 4px black;
    color: black;
}
.footer__link:visited {
    color: black;
}